{% extends 'base.html' %} {% block content %}
<h1>Book Details</h1>

<div class="col s6">
  <div class="card">
    <div class="card-content">
      <span class="card-title teal-text">{{book.title}}</span>
      <p>Author: {{book.author}}</p>
      <p>Published: {{book.publish_year}}</p>
      <p>Genre: {{book.genre}}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'books:books_update' book.id%}">Edit</a>
      <a href="{% url 'books:books_delete' book.id%}">Delete</a>
    </div>
  </div>
</div>
<br />
<hr />

<div class="col s6">
  <h3>Add New Format</h3>
  <form action="{% url 'books:add_format' book.id %}" method="POST">
    {%csrf_token%} {{format_form.as_p}}
    <input type="submit" class="btn" value="Add Format" />
  </form>
</div>

<div class="col s6">
  <table class="striped">
    <thead>
      <tr>
        <th>Format</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for formats in book.format_set.all %}
      <tr>
        <td>{{formats.get_format_display}}</td>
        <td>${{formats.price}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<br>
<hr>
<div class="row">
  <div class="col s6">
    <h3>Related Subjects</h3>
    {% if book.subjects.count %} {% for subject in book.subjects.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title"> {{ subject.type }} </span>
      </div>
      <div class="card-action">
        <form
          action="{% url 'books:unassoc_subject' book.id subject.id %}"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
      {% endfor %} {% else %}
      <h5>No subjects have been added</h5>
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <h3>Add Subjects</h3>
    {%if exclSubjects.count%} {% for subject in exclSubjects.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title"> {{subject.type}} </span>
      </div>
      <div class="card-action">
        <form
          action="{% url 'books:assoc_subject' book.id subject.id %}"
          method="post"
        >
          {%csrf_token%}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>This book includes all subjects available</h5>
    {% endif %}
  </div>
</div>

<script>
  var formatEl = document.getElementById("id_format");
  M.FormSelect.init(formatEl);
</script>
{% endblock %}
